<footer class="light-bg flex justify-space">
    <span class="white">Copyright © {{ year }} <a href="{{ url_for('index') }}">Claude Pricemou</a> — {{ t('footer_rights') }}</span>
    <ul class="flex">
        <li>
            <a href="https://www.linkedin.com/in/pricemou" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='icons/linkedin.svg') }}" width="24" height="24" alt="LinkedIn de Claude Pricemou" />
            </a>
        </li>
        <li>
            <a href="https://github.com/pricemou" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='icons/github.svg') }}" width="24" height="24" alt="GitHub de Claude Pricemou" />
            </a>
        </li>
    </ul>
</footer>
