<header>
    {% include 'components/navbar.html' %}
    <div class="page-header flex light-bg">
        <div>
            {% if request.endpoint == 'works' %}
                <button>Portfolio</button>
                <h1 class="white">Mes Projets</h1>
                <p class="gray">Découvrez mes réalisations en développement Full-Stack et Data Science, des applications web aux analyses de données.</p>
            {% elif request.endpoint == 'services' %}
                <button>Services</button>
                <h1 class="white">Solutions Full-Stack & Data Science</h1>
                <p class="gray">Des applications web complètes aux analyses de données avancées, je transforme vos idées en solutions technologiques performantes.</p>
            {% else %}
                <button>Développeur Full-Stack & Data Science</button>
                <h1 class="white">De l'idée à la donnée.</h1>
                <h1 class="white">Du code à l'insight !</h1>
                <p class="gray">Je développe des applications web complètes et transforme les données en décisions stratégiques. Passionné par l'innovation technologique et l'analyse de données.</p>
                <a class="green" href="mailto:contact@blaiti.com">Discutons !</a>
            {% endif %}
        </div>
        {% if request.endpoint == 'index' %}
            <img src="{{ url_for('static', filename='images/blaiti.png') }}" width="463" height="513" alt="blaiti" />
        {% endif %}
    </div>
</header>

